/*
hex codes
background: #111827
input text background: #374151
input text color: #6B7280
button background: #0EA5E9
task background: #E5E7EB
task text color: #000000
h1-h3 text color: #E5E7EB
*/

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #111827;
    color: #E5E7EB;
    user-select: none;
}

img {
    width: 300px;
    margin: auto;
}

h1 {
    color: #E5E7EB;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    margin: 30px auto;
    text-align: center;
}

input {
    background-color: #374151;
    color: #e7e7e7;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    border: 0;
    border-radius: 8px;
    padding: 15px;
    height: 20px;
    margin-bottom: 20px;
}

button {
   background-color: #4279BD;
   color: #E7E7E7;
   font-size: 20px;
   font-family: 'Courier New', Courier, monospace;
   border: 0;
   border-radius: 8px;
   padding: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  background-color: #E5E7EB;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}